.onshow{
  animation:come 0.7s  forwards;
}
  
@keyframes come {
  0%{
    opacity: 0.5;
    margin-right: -300px;
  }
  0%{
    opacity: 1;
    margin-right: 0;
  }
}
.displayer_titile{
  position: absolute;
  right: 25vw;
  top: 40vh;
  font-size: 20px;
  color: #608CED;
}