.Tables_page {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .fade-in-section {
    opacity: 0;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 1); /* 模糊的阴影效果 */
    transform: translateY(100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    border-bottom: black 5px solid;
  }
  
  .fade-in-section.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  